In [4]:
import pandas as pd
import numpy as np
import os
import pickle

from tqdm import tqdm
from yaml import safe_load

In [5]:
# getting a list of filenames along with its path
filenames = []
loc = r'C:\Users\shubh\Desktop\odis'

for i in os.listdir(loc):
    filenames.append(os.path.join(loc, i))

In [6]:
# extracting each file and putting it in dataframe
final_df_list = []
counter = 1

for i in tqdm(filenames):
    with open(i, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df_list.append(df)
        counter += 1

100%|██████████████████████████████████████████████████████████████████████████████| 2839/2839 [21:12<00:00,  2.23it/s]

In [7]:
final_df = pd.concat(final_df_list, ignore_index = True)

In [9]:
pickle.dump(final_df, open('ODI.pkl', 'wb'))

In [24]:
backup = final_df.copy()

In [25]:
final_df = final_df[['innings', 'info.city', 'info.teams', 'info.venue', 'match_id']]

In [26]:
final_df

,innings,info.city,info.teams,info.venue,match_id
0,"[{'1st innings': {'team': 'Australia', 'delive...",Brisbane,"[Australia, Pakistan]","Brisbane Cricket Ground, Woolloongabba",1
1,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,"[Australia, Pakistan]",Melbourne Cricket Ground,2
2,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Perth,"[Australia, Pakistan]",Western Australia Cricket Association Ground,3
3,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,"[Australia, Pakistan]",Sydney Cricket Ground,4
4,"[{'1st innings': {'team': 'Australia', 'delive...",NaN,"[Australia, Pakistan]",Adelaide Oval,5
...,...,...,...,...,...
2834,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,"[Ireland, Afghanistan]","Civil Service Cricket Club, Stormont",2835
2835,"[{'1st innings': {'team': 'Afghanistan', 'deli...",Belfast,"[Ireland, Afghanistan]","Civil Service Cricket Club, Stormont",2836
2836,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Belfast,"[Ireland, Afghanistan]","Civil Service Cricket Club, Stormont",2837
2837,"[{'1st innings': {'team': 'Scotland', 'deliver...",Edinburgh,"[Scotland, United Arab Emirates]","Grange Cricket Club Ground, Raeburn Place",2838
2838,[{'1st innings': {'team': 'United Arab Emirate...,Edinburgh,"[Scotland, United Arab Emirates]","Grange Cricket Club Ground, Raeburn Place",2839

In [27]:
# extracting data from 'innings' column and creating new dataframe
delivery_df_list = []
count = 1

for index, row in final_df.iterrows():
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')    
            
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
    })

    # Append loop_df to delivery_df_list
    delivery_df_list.append(loop_df)

In [28]:
# Concatenate all DataFrames in delivery_df_list into a single DataFrame
df = pd.concat(delivery_df_list, ignore_index=True)

In [31]:
pickle.dump(df, open('ODI_1.pkl', 'wb'))

In [99]:
df_1 = pickle.load(open('ODI_1.pkl', 'rb'))

In [100]:
df = df_1.drop('city', axis = 1)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820859 entries, 0 to 820858
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          820859 non-null  int64
 1   teams             820859 non-null  object
 2   batting_team      820859 non-null  object
 3   ball              820859 non-null  float64
 4   runs              820859 non-null  int64
 5   player_dismissed  820859 non-null  object
 6   venue             820859 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 43.8+ MB

In [102]:
def bowling_team_extractor(row):
    for i in row['teams']:
        if i != row['batting_team']:
            return i

In [103]:
df['bowling_team'] = df.apply(bowling_team_extractor, axis = 1)

In [104]:
df['batting_team'].unique()

array(['Australia', 'Pakistan', 'Afghanistan', 'Scotland', 'Zimbabwe',
       'New Zealand', 'Bangladesh', 'South Africa', 'India', 'England',
       'Sri Lanka', 'Hong Kong', 'Papua New Guinea', 'West Indies',
       'Ireland', 'United Arab Emirates', 'Nepal',
       'United States of America', 'Namibia', 'Oman', 'Netherlands',
       'Thailand', 'Canada', 'Jersey', 'Africa XI', 'Kenya', 'Bermuda',
       'Asia XI'], dtype=object)

In [105]:
eligible_teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'  
]

In [106]:
df = df[df['batting_team'].isin(eligible_teams) & df['bowling_team'].isin(eligible_teams)]

In [107]:
eligible_venue = df['venue'].value_counts()[df['venue'].value_counts() > 1500].index.tolist()

In [108]:
df = df[df['venue'].isin(eligible_venue)]

In [109]:
df = df.groupby('match_id')['runs'].sum().reset_index().merge(df, on = 'match_id')

In [110]:
df = df.rename(columns = {'runs_x' : 'total_runs', 'runs_y' : 'runs'})

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470598 entries, 0 to 470597
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          470598 non-null  int64
 1   total_runs        470598 non-null  int64
 2   teams             470598 non-null  object
 3   batting_team      470598 non-null  object
 4   ball              470598 non-null  float64
 5   runs              470598 non-null  int64
 6   player_dismissed  470598 non-null  int32
 7   venue             470598 non-null  object
 8   bowling_team      470598 non-null  object
 9   wickets_left      470598 non-null  int32
dtypes: float64(1), int32(2), int64(3), object(4)
memory usage: 32.3+ MB

In [115]:
df.loc[df['player_dismissed'] != '0', 'player_dismissed'] = 1
df.loc[df['player_dismissed'] == '0', 'player_dismissed'] = 0
df['player_dismissed'] = df['player_dismissed'].astype(int)

In [120]:
df['wickets_left'] = 10 - (df.groupby('match_id')['player_dismissed'].cumsum())

In [175]:
# df[df['match_id'] == 2][:40]

,match_id,total_runs,teams,batting_team,ball,runs,player_dismissed,venue,bowling_team,wickets_left,over_no,ball_no,total_ball,balls_left,current_score,crr,last_five
0,2,268,"[Australia, Pakistan]",Australia,0.1,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,1,1,299,0,0.00,NaN
1,2,268,"[Australia, Pakistan]",Australia,0.2,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,2,2,298,0,0.00,NaN
2,2,268,"[Australia, Pakistan]",Australia,0.3,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,3,3,297,0,0.00,NaN
3,2,268,"[Australia, Pakistan]",Australia,0.4,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,4,4,296,0,0.00,NaN
4,2,268,"[Australia, Pakistan]",Australia,0.5,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,5,5,295,1,1.20,NaN
5,2,268,"[Australia, Pakistan]",Australia,0.6,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,6,6,294,1,1.00,NaN
6,2,268,"[Australia, Pakistan]",Australia,0.7,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,0,7,7,293,1,0.86,NaN
7,2,268,"[Australia, Pakistan]",Australia,1.1,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,1,1,7,293,1,0.86,NaN
8,2,268,"[Australia, Pakistan]",Australia,1.2,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,1,2,8,292,2,1.50,NaN
9,2,268,"[Australia, Pakistan]",Australia,1.3,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,1,3,9,291,2,1.33,NaN
10,2,268,"[Australia, Pakistan]",Australia,1.4,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,1,4,10,290,2,1.20,NaN
11,2,268,"[Australia, Pakistan]",Australia,1.5,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,1,5,11,289,2,1.09,NaN
12,2,268,"[Australia, Pakistan]",Australia,1.6,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,1,6,12,288,2,1.00,NaN
13,2,268,"[Australia, Pakistan]",Australia,2.1,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,2,1,13,287,3,1.38,NaN
14,2,268,"[Australia, Pakistan]",Australia,2.2,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,2,2,14,286,3,1.29,NaN
15,2,268,"[Australia, Pakistan]",Australia,2.3,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,2,3,15,285,4,1.60,NaN
16,2,268,"[Australia, Pakistan]",Australia,2.4,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,2,4,16,284,5,1.88,NaN
17,2,268,"[Australia, Pakistan]",Australia,2.5,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,2,5,17,283,5,1.76,NaN
18,2,268,"[Australia, Pakistan]",Australia,2.6,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,2,6,18,282,5,1.67,NaN
19,2,268,"[Australia, Pakistan]",Australia,3.1,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,3,1,19,281,5,1.58,NaN
20,2,268,"[Australia, Pakistan]",Australia,3.2,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,3,2,20,280,5,1.50,NaN
21,2,268,"[Australia, Pakistan]",Australia,3.3,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,3,3,21,279,6,1.71,NaN
22,2,268,"[Australia, Pakistan]",Australia,3.4,4,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,3,4,22,278,10,2.73,NaN
23,2,268,"[Australia, Pakistan]",Australia,3.5,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,3,5,23,277,11,2.87,NaN
24,2,268,"[Australia, Pakistan]",Australia,3.6,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,3,6,24,276,11,2.75,NaN
25,2,268,"[Australia, Pakistan]",Australia,4.1,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,4,1,25,275,12,2.88,NaN
26,2,268,"[Australia, Pakistan]",Australia,4.2,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,10,4,2,26,274,13,3.00,NaN
27,2,268,"[Australia, Pakistan]",Australia,4.3,0,1,"Brisbane Cricket Ground, Woolloongabba",Pakistan,9,4,3,27,273,13,2.89,NaN
28,2,268,"[Australia, Pakistan]",Australia,4.4,0,1,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,4,4,28,272,13,2.79,NaN
29,2,268,"[Australia, Pakistan]",Australia,4.5,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,4,5,29,271,13,2.69,13.0
30,2,268,"[Australia, Pakistan]",Australia,4.6,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,4,6,30,270,13,2.60,13.0
31,2,268,"[Australia, Pakistan]",Australia,5.1,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,1,31,269,14,2.71,14.0
32,2,268,"[Australia, Pakistan]",Australia,5.2,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,2,32,268,15,2.81,15.0
33,2,268,"[Australia, Pakistan]",Australia,5.3,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,3,33,267,16,2.91,16.0
34,2,268,"[Australia, Pakistan]",Australia,5.4,4,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,4,34,266,20,3.53,19.0
35,2,268,"[Australia, Pakistan]",Australia,5.5,1,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,5,35,265,21,3.60,20.0
36,2,268,"[Australia, Pakistan]",Australia,5.6,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,6,36,264,21,3.50,20.0
37,2,268,"[Australia, Pakistan]",Australia,5.7,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,5,7,37,263,21,3.41,20.0
38,2,268,"[Australia, Pakistan]",Australia,6.1,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,6,1,37,263,21,3.41,19.0
39,2,268,"[Australia, Pakistan]",Australia,6.2,0,0,"Brisbane Cricket Ground, Woolloongabba",Pakistan,8,6,2,38,262,21,3.32,19.0

In [131]:
df['over_no'] = df['ball'].apply(lambda x: int(str(x).split('.')[0]))
df['ball_no'] = df['ball'].apply(lambda x: int(str(x).split('.')[1]))

In [145]:
df['total_ball'] = (df['over_no'] * 6) + (df['ball_no'])
df['balls_left'] = 300 - df['total_ball']

In [150]:
df.loc[df['balls_left'] < 0, 'balls_left'] = 0

In [154]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [162]:
df['crr'] = np.round(df['current_score'] / df['total_ball'] * 6, 2)

In [198]:
df.head()

,total_runs,batting_team,venue,bowling_team,wickets_left,balls_left,current_score,crr,last_five
445397,283,South Africa,Kingsmead,New Zealand,10,191,82,4.51,26.0
357109,131,Sri Lanka,Brabourne Stadium,Australia,6,138,82,3.04,18.0
8023,265,New Zealand,Sophia Gardens,Bangladesh,4,26,240,5.26,34.0
122623,341,South Africa,The Wanderers Stadium,Pakistan,9,218,71,5.20,30.0
161766,164,Bangladesh,Pallekele International Cricket Stadium,Sri Lanka,6,148,98,3.87,22.0

In [172]:
df['last_five'] = df.groupby('match_id').rolling(window = 30)['runs'].sum().values

In [ ]:
df = df.drop(['teams', 'player_dismissed', 'over_no', 'ball_no', 'total_ball', 'runs', 'ball', 'match_id'], axis = 1)

In [185]:
df.drop('match_id', axis = 1, inplace=True)

In [187]:
df.dropna(inplace = True)

In [193]:
df = df.sample(df.shape[0])

In [195]:
pickle.dump(df, open('ODI_2.pkl', 'wb'))